@use "./../abstracts/" as *;

:root {
  --logoWidth: 2.75rem;
  --headerTopOffset: var(--spacer-500);

  @include minmax-mq(mobile, desktop) {
    --headerTopOffset: 0;
  }
  @include min-mq(tablet) {
    --logoWidth: 3.25rem;
    --headerTopOffset: var(--spacer-1000);
  }
}

.c-main-header {
  position: absolute;
  width: 100%;
  top: var(--headerTopOffset);
  z-index: map-get($zIndex, siteHeader);

  &__inner {
    position: relative;
    grid-column: content;
    @include flexBetween();

    @supports (grid-template-columns: subgrid) {
      display: grid;
      grid-column: breakout-start / grid-end;
      grid-template-columns: subgrid;
      align-items: center;
      justify-content: unset;
    }
  }

  &__logo {
    width: var(--logoWidth);
    aspect-ratio: 1;
  }
}
