@use "abstracts" as *;

.tabs {
  &__tablist {
    --clusterSpacer: var(--spacer-500);
    @include flexCluster();
    @include min-mq(tablet) {
      justify-content: flex-start;
    }

    &:focus {
      outline: none;
    }
  }

  &__panel {
    display: none;

    &.js-active {
      display: block;
    }
  }

  &__imgs {
    img {
      &.js-hidden {
        display: none;
      }
    }
  }
}
