@use "abstracts" as *;

:host {
  --inlinePadding: 2rem;
  --bgClr: hsl(var(--clr-neu-700) / 0.5);
  --txtClr: hsl(var(--clr-neu-100));
  --blurValue: blur(2rem);
  --horizontalLineBg: hsl(var(--clr-neu-200));
  --horizontalLineHeight: 0;

  @supports (grid-template-columns: subgrid) {
    --inlinePadding: var(--containerInlinePadding);

    @include min-mq(mobile) {
      grid-column: content-start / grid-end;
      display: grid;
      grid-template-columns: subgrid;
    }

    @include min-mq(tablet) {
      --inlinePadding: var(--spacer-1000);
      --horizontalLineHeight: 1px;
    }
  }
}

// Basic
.main-nav {
  &__open,
  &__close {
    padding: var(--spacer-300);
    @include min-mq(mobile) {
      display: none;
    }
  }

  &__open[aria-expanded="true"] {
    visibility: hidden;
  }

  &__close {
    position: absolute;
    top: var(--topOffset);
    inset-inline-end: var(--containerInlinePadding);
  }

  &__inner {
    padding-inline-start: var(--inlinePadding);
    padding-inline-end: var(--inlinePadding);
    background-color: var(--bgClr);
    z-index: 1;

    @include max-mq(mobile) {
      position: fixed;
      top: 0;
      inset-inline-end: 0;
      transform: translateX(100%);
      visibility: hidden;
      height: 100vh;
      height: 100svh;
      padding-top: var(--spacer-1200);
    }
  }

  &.js-show-up &__inner {
    transform: translateX(0);
    visibility: visible;
  }

  &__list {
    display: flex;
    row-gap: var(--spacer-400);
    column-gap: var(--spacer-600);

    @include max-mq(mobile) {
      flex-direction: column;
    }

    li {
      --border: 2px solid transparent;
      padding-inline-end: var(--spacer-1100);
      border-inline-end: var(--border);
      color: var(--txtClr);
      font-size: var(--fs-400);
      letter-spacing: 2.7px;
      text-transform: uppercase;

      @include min-mq(mobile) {
        padding-block: var(--spacer-600);
        padding-inline-end: 0;
        border-inline-end: none;
        border-bottom: var(--border);
      }

      &:hover {
        border-color: var(--linkHoverClr);
      }

      &:has(a[aria-current="page"]) {
        border-color: currentColor;
      }

      &:has(a:focus-visible) {
        border-color: transparent;
      }

      span[aria-hidden="true"] {
        padding-inline-end: 2px;
        @include minmax-mq(mobile, tablet) {
          display: none;
        }
      }
    }
  }
}

// When 'subgrid' is supported
@supports (grid-template-columns: subgrid) {
  .main-nav {
    @include min-mq(mobile) {
      position: relative;
      grid-column: content-start / grid-end;
      display: grid;
      grid-template-columns: subgrid;

      &::before {
        @include pseudoElement("");
        grid-column: content-end / -1;
        width: 100%;
        height: 100%;
        background-color: var(--bgClr);
      }

      &[data-page="home"]::before {
        @include minmax-mq(mobile, tablet) {
          display: none;
        }
      }

      &::after {
        @include pseudoElement("");
        grid-column: content;
        width: 100%;
        height: var(--horizontalLineHeight);
        top: 50%;
        inset-inline-start: 0;
        transform: translateY(-50%);
        background-color: var(--horizontalLineBg);
      }
    }

    &__inner {
      @include min-mq(mobile) {
        position: relative;
        justify-self: end;
      }

      &::before {
        @include pseudoElement("");
        width: calc(var(--inlinePadding) / 2);
        height: var(--horizontalLineHeight);
        top: 50%;
        inset-inline-start: 0;
        transform: translateY(-50%);
        background-color: var(--horizontalLineBg);
      }
    }

    &[data-page="home"] &__inner {
      @include minmax-mq(mobile, tablet) {
        padding-inline: var(--inlinePadding);
      }
    }
  }
}

@supports (backdrop-filter: blur(1rem)) {
  .main-nav {
    --bgClr: hsl(var(--clr-neu-100) / 0.125);
    &::before {
      backdrop-filter: var(--blurValue);
    }

    &__inner {
      backdrop-filter: var(--blurValue);
      padding-inline-end: 0;
    }
  }
}
