<!-- a11y -->
<app-a11y></app-a11y>

<ng-container *ngrxLet="activeRouteData$ as activeRouteData">
  <!-- Header -->
  <app-header [routesPaths]="routesPaths" (pageChange)="handlePageChange($event)"></app-header>

  <!-- Content -->
  <main class="main" [attr.data-end-padded]="currentPage !== 'crew'">
    <div class="l-grid-layout">
      <div class="main__inner" [attr.data-bleed-left]="currentPage === 'technology'">

        <!-- Page Heading -->
        @if (activeRouteData['navLink'] !== 'home') {
        <h1 class="page-heading" id="page-heading">
          <span class="page-heading__number" aria-hidden="true">
            0{{activeRouteData!['pageIndex']}}
          </span>

          {{activeRouteData!['headingTxt']}}
        </h1>
        }

        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</ng-container>