@use "abstracts" as *;

.tabs {
  &__tablist {
    @include flexCluster(var(--spacer-500));
    padding-block: var(--spacer-500);
    @include min-mq(tablet) {
      justify-content: flex-start;
    }
  }

  &__panel {
    display: none;

    &.js-active {
      display: block;
    }
  }

  &__imgs {
    img {
      &.js-hidden {
        display: none;
      }
    }
  }
}
