<div class="l-content-wrapper l-grid-switch">
  <div>
    <!-- Page Heading -->
    <h1>
      <span class="u-fs-600 u-text-uppercase">
        so, you want to travel to
      </span> <br>
      <b class="u-fs-1100 u-keyword">space</b>
    </h1>
    <!-- Page Statement -->
    <p>
      Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not
      hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of
      this
      world experience!
    </p>
  </div>

  <!-- Explore Link -->
  <div class="explore-link">
    <a routerLink="/destination">
      explore
    </a>
  </div>
</div>