@use "./../abstracts/" as *;

/* Global */
:root {
  --bodyTxtClr: hsl(var(--clr-neu-300));
  --linkHoverClr: hsl(var(--clr-neu-300) / 0.25);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: hsl(var(--clr-neu-100));
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--clr-pr-700));
}

::selection {
  background-color: hsl(var(--clr-neu-100));
  color: hsl(var(--clr-pr-700));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-duration: 125ms;

  @media (prefers-reduced-motion: true) {
    transition-duration: 0ms;
  }
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-image: var(--bodyBgImg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--bodyTxtClr);
  font-family: var(--ff-pr);
  font-size: var(--fs-500);
  letter-spacing: 0px;
  line-height: 2;
}

input,
button,
textarea,
a {
  --outlineClr: currentColor;

  outline-width: 2px;
  outline-color: transparent;

  &:focus-visible {
    outline-color: var(--outlineClr);
    text-decoration: none;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline-color: var(--outlineClr);
      text-decoration: none;
    }
  }
}

input,
button,
textarea {
  display: block;
  border: none;
}

input,
textarea {
  outline-style: solid;
}

a,
button {
  outline-style: dashed;
}

textarea {
  resize: none;
}

button {
  background-color: transparent;
  color: inherit;
  text-align: unset;
  cursor: pointer;

  > * {
    pointer-events: none;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: inherit;
  color: inherit;
  outline-offset: 3px;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

b,
strong {
  font: inherit;
}
